/*?   Styles by Nick Klauer
 */

@import "blueprint";
@import "blueprint/debug";

h1, h2, h3 {
  text-shadow: 1px 1px 1px #ccc;
}


header {
  @include container;
}

#nav {
  @include container;
  li {
    font-size: 150%;
    margin-left: 0px;
    padding: 0;
    list-style-type: none;
  }
}

  
