/*?   Styles by Nick Klauer
 */

@import "blueprint";
@import "blueprint/debug";

h1, h2, h3 {
  text-shadow: 1px 1px 1px #ccc;
}


header {
  @include container;
}

#nav {
  @include container;
  li {
    float: left;
    list-style-type: none;
    font-size: 150%;
    a {
      display: block;
      width: 120px;
    }
  }
}

  
