/*?   Styles by Nick Klauer
 */

@import "blueprint";
@import "blueprint/debug";

h1, h2, h3 {
  text-shadow: 1px 1px 1px #ccc;
}

header {
  @include container;
  text-align: center;
  #nav {
    li {
      /*@include showgrid('/img/grid.png');*/
      @include column(2.25, true);
      font-size: 2em;
      margin-left: 0px;
      padding: 0;
      list-style-type: none;
      @include append_bottom(0.5em);
    }
  }
}

  
